*.idea
*.so
*~
scripts/
*.dylib
build/
lib/
Makefile
result.png
*.rock

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cv/calib3d/CMakeFiles/
cv/calib3d/cmake_install.cmake
cv/features2d/CMakeFiles/
cv/features2d/cmake_install.cmake
cv/flann/CMakeFiles/
cv/flann/cmake_install.cmake
cv/highgui/CMakeFiles/
cv/highgui/cmake_install.cmake
cv/imgcodecs/CMakeFiles/
cv/imgcodecs/cmake_install.cmake
cv/imgproc/CMakeFiles/
cv/imgproc/cmake_install.cmake
cv/ml/CMakeFiles/
cv/ml/cmake_install.cmake
cv/objdetect/CMakeFiles/
cv/objdetect/cmake_install.cmake
cv/photo/CMakeFiles/
cv/photo/cmake_install.cmake
cv/superres/CMakeFiles/
cv/superres/cmake_install.cmake
cv/video/CMakeFiles/
cv/video/cmake_install.cmake
cv/videoio/CMakeFiles/
cv/videoio/cmake_install.cmake
cv/stitching/CMakeFiles/
cv/stitching/cmake_install.cmake

